<div class="container">
    <div class="row pt-3">
        <h1> Registrar un Usuario</h1>        
    </div>
    
    <form [formGroup]="userForm">

          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Ingresá el nombre...">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Ingresá el apellido...">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingresá el email...">
          </div>
          <div class="mb-3">
            <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Teléfono</label>
            <input type="number" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Ingresá el teléfono">
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">País de Residencia</label>
            <input type="text" class="form-control" id="country" formControlName="country" placeholder="Ingresá el código de 3 dígitos del país">
          </div>
          <div class="mb-3">            
            <input type="checkbox" formControlName="contact" class="form-check-input" id="contact">
            <label for="contact" class="form-label">¿Desea recibir información de contacto?</label>
          </div>        
    </form>

    <div class="text-center">
        <button type="button" class="btn p-3 btn-lg btn-danger" (click)="goBack()">Volver</button>
        <button type="button" class="btn p-3 btn-lg btn-success" (click)="onSubmit()"> Guardar </button>
    </div>
    


</div>